:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  /*color use to design*/
  --header-color: #2264d1;
  --nav-color: #2979ff;
  --dark-think-color: #333333;
  --main-border-color: #777777;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
  height: 100vh;
}

a {
  text-decoration: none;
}

ul{
  list-style: none;
}