.treeview {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.treeview ul ul {
  position: relative;
  list-style: none;
  margin-top: 9px;
  transform: translateX(-10px);
}

.truncate {
  display: flex;
  flex-direction: row;
}

.truncate:not(:has(.button-container)) {
  transform: translateX(13px) translateY(5px);
}

.truncate:not(:has(.button-container)) .line {
  width: 40px;
}

.truncate:has(.button-container) {
  transform: translateY(10px);
}

.truncate .connection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.truncate .connection .desc {
  width: 150px;
  margin-left: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.button-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.line {
  width: 20px;
  height: 2px;
  background-color: #000;
  margin-right: 5px;
}

.treeview ul > ul.root:not(:first-child)::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  height: calc(100% + 45px);
  border-left: 2px solid #000;
}

.treeview ul > ul.root:first-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 51px;
  border-left: 2px solid #000;
}

.treeview ul > ul.root::before {
  content: "";
  position: absolute;
  top: 0;
  left: 44px;
  height: 51px;
  width: 2px;
  border-left: 2px solid #000;
}

.treeview ul > ul.root:first-child:before {
  top: -2px;
  height: calc(100% + 15px);
  border-left: 2px solid #000;
}

.treeview ul > ul.root:last-child:before {
  height: 16px;
  top: -5px;
  border-left: 2px solid #000;
  transform: translateY(5px);
}
