/*
---Title: Header Style
---Author: Hieu Nguyen Minh
---Description: Custom header style
---Edited at: 9:00AM 23_07_14
*/

/*<Format layout header>*/
.header {
  position: fixed;
  width: calc(100vw - 201px);
  height: 60px;
  background-color: var(--header-color);
  display: flex;
  align-items: center;
  transform: translateX(200px);
  color: #fff;
  transition: var(--tran-05);
  z-index: 1;
}

.header.close {
  width: calc(100vw - 61px);
  transform: translateX(60px);
  transition: var(--tran-05);
}
/*</Format layout header>*/

/*<Format page name and time>*/
.header .page-name {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 25px;
  border-left: 1px solid #fff;
}

.header .time h4,
h5 {
  display: flex;
  justify-content: flex-end;
}
/*</Format page name and time>*/

/*<Format user infor-togle>*/
.header .user-infor .dropdown .dropdown-toggle {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
}
.header .user-infor .dropdown .dropdown-item {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
/*</Format user infor-togle>*/
